* {
  text-decoration: none;
  color: black;
}
.en {
  text-align: center;
}
.year {
  text-align: center;
}
.senior a {
  color: #92a8d1;
  text-align: center;
}
.senior h2 {
  display: inline-block;
  position: relative;
  text-align: center;
}
.senior h2:after {
  width: 0%;
  height: 1px;
  content: "";
  background-color: #92a8d1;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s linear;
}

.senior h2:hover::after {
  width: 100%;
}
.nkust {
    text-align: center;
}
.nkust a {
  color: #f7cac9;
  text-align: center;
}
.nkust h2 {
  display: inline-block;
  position: relative;
}
.nkust h2:after {
  width: 0%;
  height: 1px;
  content: "";
  background-color: #f7cac9;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s linear;
}
.nkust h2:hover::after {
  width: 100%;
}

.representative {
  display: none;
}

.title {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.representative .name {
  width: 70%;
  height: 100%;
  float: left;
  align-items: center;
}
.representative .name .chinese {
  text-align: center;
}
.representative .name .english {
  text-align: center;
}
.representative .logo img {
  max-width: 30%;
  max-height: 100%;
}
