.login_page{

  padding: 10px;
  width: 230px;
  height: 300px;


  box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);
  
  position:relative;   
  margin: auto;
  top: 100px;
  text-align:center;  
}
.account{
  padding: 2px;
  margin: 10px;
}
.password{
  padding: 2px;
  margin: 10px;
}
.confirm a{
  display: inline-block;
  text-decoration: none;
  color: black;
}
.confirm{
  margin:30px;
}
input::placeholder {
  text-align: center;
  vertical-align: middle;
}
