.wrap {
  box-shadow: 0 0 10px;
  opacity: 70%;
  border-radius: 10px 10px 0px 0px;
}
table {
  width: 100%;
  border-collapse: separate;
  border: 1px solid;
  border-top: 1px dotted black;
  border-left: 1px dotted black;
}

th {
  text-align: center;
  text-emphasis-color: black;
  height: 10%;
}
td {
  text-align: center;
}
a {
    text-decoration: none;
    color: black;
}